header {
    height: 100vh;
    width: auto;
    /* background-color: blue; */
    background-image: url('./images/fabe-collage-xR8Xj3Pq__M-unsplash\ \(1\).jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
nav {
    position: fixed;
    top: 0px;
    right: 0px;
}
header h1 {
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 48px;
}
main {
    height: 100vh;
    background-color: white;
}
footer {
    height: 60vh;
    background-color: grey;
}